@CHARSET "UTF-8";

.contents-wrapper { width: 900px; }

.search { margin-bottom:10px; }
.search select {height: 23px; }

.table-default {border-top: 2px solid #333333; width:100%;}
.table-default th{height: 45px; border-bottom: 1px solid #c9c9c9; color: #111111; font-size: 14px;}
.table-default td{text-align: center; border-bottom: 1px solid #c9c9c9;  color: #111111; font-size: 14px; height: 30px;}
.table-default td.left{text-align: left; padding-left:10px;}
.table-default td a{color: #111111;}

.bbswrite { width: 100%; table-layout: fixed; background: #fff; border-bottom-width: 2px; border-bottom-style: solid;}
.bbswrite caption { 
	visibility: visible; height: auto;  padding: 10px 0 8px 0; border-top-width: 2px; border-top-style: solid;
    color: #3C3C3C;  font-weight: bold; font-size: 100%; line-height: 140%; text-indent: 0;
}
.bbswrite td { padding: 4px 5px 3px 5px; border-top: 1px solid #E0E0E0; background: #fff; text-align: left;}

.bbsview { width: 100%; table-layout: fixed; background: #fff; border-bottom-width: 2px; border-bottom-style: solid;}
.bbsview caption { 
	visibility: visible; height: auto;  padding: 10px 0 8px 0; border-top-width: 2px; border-top-style: solid;
    color: #3C3C3C;  font-weight: bold; font-size: 100%; line-height: 140%; text-indent: 0;
}
.bbsview td { padding: 4px 5px 3px 5px; border-top: 1px solid #E0E0E0; background: #fff; text-align: left;}
.bbsview td:nth-child(1) {background: #f3eafb;}

.buttonWrapper {float: right;}

.paging { text-align:center; }


.security-login { text-align:center; border:1px solid; width: 300px; background: #e4e4e8; }